In [1]:
import tensorflow as tf
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/compat/v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [0]:
tf.reset_default_graph()

In [0]:
#val = tf.add(2, 2, name= 'add')
#val2 = tf.multiply(val, 3, name='multiply')
#val3 = tf.multiply(val2, val, name='multiply_results' )

In [0]:
with tf.name_scope('Scope'):
  with tf.name_scope('Escope_add'):
    val = tf.add(2, 2, name= 'add')
  with tf.name_scope('Escope_multiply'): 
    val2 = tf.multiply(val, 3, name='multiply')
    val3 = tf.multiply(val2, val, name='multiply_results' )

In [18]:
with tf.Session() as sess:
  write = tf.summary.FileWriter('output', sess.graph)
  print(sess.run(val3))
  write.close()

48